<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Roman Gilbert Photography{% endblock %}</title>
  <link rel="stylesheet" href="{{ static_url }}styles.css">
</head>
<body>
  <nav class="nav">
    <div class="nav-left">
      <a href="{{ base_url }}" class="logo">RG</a>
    </div>
    <div class="nav-right">
      <a href="{{ base_url }}">Home</a>
      <a href="{{ base_url }}gallery/">My Photography</a>
      <a href="https://www.instagram.com/rchristian.digital">Instagram Portfolio</a>
    </div>
  </nav>

  {% block content %}{% endblock %}
</body>
</html>
